<div class="search-toolbar">
  <form class="search-form" id="search-form">
    <input
      class="search-form-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form-button" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>

<div class="gallery" style="display: none"></div>

<div class="pagination">
  <!-- <svg class="page__svg--prev" width="24" height="24">
    <use href="./images/NextPrev.svg#icon-Prev"></use>
  </svg>
  <svg class="page__svg--next" width="24" height="24">
    <use href="./images/NextPrev.svg#icon-Next"></use>
  </svg> -->
</div>
